<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <form method="post" th:action="@{/page/question/add}" th:object="${addQuestionRequest}" class="my-3">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <td>제목</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" name="subject">
                        </td>
                        <td>
                            <input type="text" name="content">
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary my-2">
        </form>
    </div>
</html>